h1 {
  color: rgb(10, 10, 10);
  font-size: 28pt;
  width:750px;
  height: 40px;
  font-family:"メイリオ","Meiryo",sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* #bgTitle{
  background-image:url(./img/makimono_yoko.png);
  background-position: center center;  
  width:600px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
} */

body{
  text-align: center;
  background-color:#F3FFD8
}

div{
  margin: auto;
}

h2{
  color: rgb(10, 10, 10);
  font-size: 15pt;
  font-family:"メイリオ","Meiryo",sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.backGround{
  background-image:url(./img/bg_takeyabu_layer2.jpg);
  background-position: center center;  
  width:750px;
  height: 380px;
  /* zoom: 1.5; */
  position: relative;
  color: #ffffff;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.ninjya{
  src: url(./img/ninja_hashiru.png);
  width:80px ;
  height:80px;
  position:absolute;
  right: 50px;
  bottom: 15px;
}

.btn{
  width:120px ;
  height:60px;
  padding: 0.5px;
  font-size: 15pt;
  font-weight: bold;
  font-style: oblique;
  margin-top: 20px;
  background-color:#00CC00;
  box-shadow: 0 5px 0 #00cc00a6;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none; /* 文字の下線を消す */
}

.btn:hover{
  width:160px ;
  height:80px;
  font-size: 18pt;
  font-weight: bold;
  font-style: oblique;
  margin-top: 30px;
  background-color:#FF6928;
  box-shadow: none;
  color: #FFFFFF;
}